<ion-view title="Perfil" hide-nav-bar="true" id="page15" class=" ">
    <ion-content padding="false" style="background: url(img/H2CNNKCORZaecxUQIOOW_fondoperfil.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div id="perfil-button-bar13" class=" button-bar ">
            <a ui-sref="inicio" id="perfil-button59" class=" button button-positive  button-block button-clear "></a>
            <button id="perfil-button60" style="color:#FFFFFF;" class=" button button-positive  button-block button-clear icon-right ion-android-menu "></button>
        </div>
        <div class="spacer" style="width: 320px; height: 24px;"></div>
        <ion-list id="perfil-list7" class=" ">
            <ion-item class="item-avatar  " id="perfil-list-item8">
                <h2>Nombre de Usuario</h2>
                <p>Alias</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 320px; height: 276px;"></div>
        <div id="perfil-button-bar14" class=" button-bar ">
            <a ui-sref="restaurantes" id="perfil-button61" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-android-restaurant "></a>
            <a ui-sref="bar" id="perfil-button62" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-wineglass "></a>
            <a ui-sref="eventos" id="perfil-button63" style="color:#FFFFFF;" class=" button button-light  button-block button-clear icon ion-android-star "></a>
        </div>
    </ion-content>
</ion-view>