<ion-view title="ReservaRes_conAlimentos" hide-nav-bar="true" id="page13" class=" ">
    <ion-content padding="false" style="background: url(img/fonresReserva.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding" scroll="false">
        
        <div class="spacer" style="width: 320px; height: 13px;"></div>
        <h5 id="reservaRes_conAlimentos-heading4" style="color:#FFFFFF;text-align:center;" class=" ">CREPES &amp; WAFFLES</h5>
        <div class="">
            <img src="img/XpVxgG6NRVicDsNHlPOe_creps.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <p id="reservaRes_conAlimentos-markdown7" style="color:#FFFFFF;text-align:center;" class=" ">Alimentos que despiertan sensaciones</p>
        <p id="reservaRes_conAlimentos-markdown8" style="margin-top:0px;color:#FFFFFF;text-align:center;" class=" ">Tipo de Reserva</p>
        <form id="reservaRes_conAlimentos-form24" class="list ">
            <ion-checkbox name="checkcumple">Cumpleaños</ion-checkbox>
            <ion-checkbox name="checkAni">Aniversario</ion-checkbox>
            <label class="item item-input " id="reservaRes_conAlimentos-input31" name="txtOtro">
                <input type="text" placeholder="Otro">
            </label>
            <label class="item item-input " id="reservaRes_conAlimentos-input32" name="txtfecha">
                <input type="text" placeholder="Fecha">
            </label>
            <label class="item item-input " id="reservaRes_conAlimentos-input33" name="txtperson">
                <input type="text" placeholder="Número de Personas">
            </label>
            <ion-item class="item-thumbnail-left  " id="reservaRes_conAlimentos-list-item6">
                <img src="img/ZEjd9ApqQCUE1bhRq95C_Ravioli-chontaduro.jpg">
                <h2>Pasta Ravoli</h2>
                <p>$30.000</p>
            </ion-item>
            <a href="" id="reservaRes_conAlimentos-button50" style="color:#000000;" class=" button button-energized  button-block ">RESERVAR</a>
        </form>

         <!-- Menu Header -->
        <div class="bar bar-header" >
  
            <div class="h1 title" id="header">JoyWK</div>
            <button class="button button-icon icon ion-navicon" ui-sref = "inicio"></button>
        </div>
        
        <ion-tabs  class = "tabs-icon-top" id="footertab"> 
        
         <ion-tab icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ui-sref = "restaurantes">
            <ion-nav-view name="restaurantes"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-wineglass" icon-on="ion-wineglass" ui-sref ="bar">
            <ion-nav-view name="bar"></ion-nav-view>
        </ion-tab>

        <ion-tab icon-off="ion-android-star" icon-on="ion-android-star" ui-sref ="eventos">
            <ion-nav-view name="inicio"></ion-nav-view>
        </ion-tab>
        </ion-tabs>
        
    </ion-content>
</ion-view>